@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');

body {
    background-color: green;
}

h1 {
    text-align: center;
    font-family: cursive;
    color: white;
}

.container {
    position: relative;
    display: block;
    margin: auto;
    padding: 20px;
    background-color: rgb(209, 170, 111);
    border: 2px solid rgb(128, 100, 57);
    text-align: center;
}

.game {
    display: inline-block;
    background-color: black;
    width: 640px;
    height: 480px;
}

.highscore {

    display: inline-block;
    background-color: black;
    font-family: 'Rye', cursive;
    font-size: 40px;
    width: 640px;
    height: 480px;
    color: white;
    
}

.highscore_table{

    font-family: 'Rye', cursive;
    font-size: 20px;
    color: white;
}
